@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Short+Stack&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif !important;
  }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  height: 10vh;
  width: auto;
  background-color: black;
  position: relative;
  display: flex;
  justify-content: end;
  padding-right: 200px;
}
main{
  height: 85vh;
  width: auto;
  overflow: auto;   
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 50%, rgba(0,0,0,1) 100%);
  color: #FFF;
}

footer{
  height: 5vh;
  width: 100vw; 
  background-color: black;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
}

.card_movie{
  color: gray;
}

/*Tipografia TAB NAVBAR*/
.MuiButtonBase-root {
  color: white !important
}


/*Tipografia TAB NAVBAR VALUE SELECTED*/
.Mui-selected{
  color: gray !important
}

/*Tipografia Paginator*/
.MuiPaginationItem-textPrimary{
  color: black !important
}

.logo{
  font-family: 'Monoton', cursive !important;
  font-size: 75px;
 margin-right: 120px ;
 color: red;
}


.css-1aquho2-MuiTabs-indicator{
  background-color: red !important
}

.css-1to7aaw-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected{
  background-color: red !important
}
.login{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

form{
  width: 400px ;
  background-color: grey;
  border-radius: 20px;
  padding: 20px;
  height: auto;   
  }

  form > div{
    display: flex;
    justify-content: end;
    margin: 5px 0px
}

input{
    width: 180px;
    border-radius: 5px;
    margin-left: auto;
}

select{
    width: 180px;
}

h4{
    margin-bottom: 20px;
}

.btnForm{
  width: 150px;
  color: white;
  background: red;
  margin-top: 20px;
  border-radius: 10px;
  border: transparent;
  align-self: center;
}

h2{
  text-align: center;
}


@media screen and (max-width: 500px) {


  .card_detail{
flex-direction: column !important;
align-items: center;
  }
 
  
}